# http://editorconfig.org

# A special property that should be specified at the top of the file outside of
# any section. Set to true to stop searching for .editorconfig files in the current file
root = true

[*]
# Indentation style
# Possible values — tab, space
indent_style = space

# Indentation size in single space characters
# Possible values — an integer, tab
indent_size = 2

# Line ending characters
# Possible values — lf, crlf, cr
end_of_line = lf

# File character encoding
# Possible values — latin1, utf-8, utf-16be, utf-16le
charset = utf-8

# Indicates whether whitespace should be trimmed at the end of lines
# Possible values — true, false
trim_trailing_whitespace = true

# Disable for Markdown because whitespace is significant
[*.md]
trim_trailing_whitespace = false

# Denotes whether the file should end with a new line
# Possible values — true, false
insert_final_newline = true